<% if course.errors.any? %>
  <p>Foram encontrados <%= course.errors.count %> erro(s):</p>
  <ul>
    <% course.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: course do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :code %>
  <%= f.text_field :code %>
  <%= f.label :price %>
  <%= f.number_field :price %>
  <%= f.label :enrollment_deadline %>
  <%= f.date_field :enrollment_deadline %>
  <%= f.label :banner %>
  <%= f.file_field :banner %>
  <%= f.submit button_text %>
<% end %>