<!DOCTYPE html>
<html>
  <head>
    <title>Codeplay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <%= current_user.email %>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
        <a href="<%= root_path %>" class="" data-method="delete">Inicio</a>
      <% else %>
        <%= link_to 'Registrar-me', new_user_registration_path %>
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %>
    </nav>
    <% if notice %>
      <div>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div>
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
